
		#wrapper {
		width: auto;
		height: auto;
		margin: 0px auto
		}
		#menu {
		 width: auto;
		 height: 95px;
		 background: black;
		 border-radius: 3px
		 
		  }
		  .img-responsive{

		  	margin-left: 50px;
		  }

		  .peremium{
		  margin-left: 580px;
		  color: white;
		  font-size: 20px;
      vertical-align:180%;
		  }

		   .help{

		  padding-left: 20px;
		  color: white;
		  font-size: 20px;
      vertical-align:180%;
		  }

		  .down{

		  padding-left: 20px;
		  color: white;
		  font-size: 20px;
      vertical-align:180%;
		  }
		   .signup{

		  padding-left: 20px;
		  color: white;
		  font-size: 20px;
       
          vertical-align:180%;
		  }
		   .login{

		  padding-left: 20px;
		  color: white;
		  font-size: 20px;
       
          vertical-align:180%;
		  }

		.img-background{
		
          width: 100%;
          height: 400px;
          padding-top: 0px;
          margin-top: 0px;
	
			}
		
		#menu a{
			font-family: 'Roboto', sans-serif;
			text-decoration: none;
		}
		#menu a:hover{
			color:#509BF5;
		}


		.padding{
			color: white;
			font-size: 50px;
			text-align: center;
		}	
		.text{
			         position: absolute; 
               top: 20%; 
               left:32%;
               font-size: 50px;
               color: white; 

		}
		#header input{

			       position: absolute;
			       width: 550px;
			       height:37px;  
			       top: 40%; 
            left:29%;
            border-radius: 10px;
            background: lightgray;

}
#header h4:hover{
			color:#509BF5;
		}

      .text2{
			         position: absolute; 
               top: 50%; 
               left: 13%;
               font-size: 15px;
               color: white; 
               font-family: sans-serif;

		}

      .text3{
			         position: absolute; 
               top: 50%; 
               left:32%;
               font-size: 15px;
               color: white; 
                font-family: sans-serif;
		}

      .text4{
			         position: absolute; 
               top: 50%; 
               left:57%;
               font-size: 15px;
               color: white; 
                font-family: sans-serif;
		}
		 .text5{
			         position: absolute; 
               top: 50%; 
               left:82%;
               font-size: 15px;
               color: white; 
                font-family: sans-serif;
		}
     
     	#header h3:hover{
			      color:black;
		}
     .question1{
			         position: absolute; 
               top: 55%; 
               left:10%;
               font-size: 20px;
               color: white; 
               font-family: 'Roboto', sans-serif;
		}
		.question2{
			         position: absolute; 
               top: 55%; 
               left:30%;
               font-size: 20px;
               color: white; 
               font-family: 'Roboto', sans-serif;
		}
		.question3{
			         position: absolute; 
               top: 55%; 
               left:55%;
               font-size: 20px;
               color: white; 
               font-family: 'Roboto', sans-serif;
		}
		.question4{
			         position: absolute; 
               top: 55%; 
               left:78%;
               font-size: 20px;
               color: white; 
               font-family: 'Roboto', sans-serif;
               text-decoration: none;
		}
	
	 #content {
	  
	    width: auto;
	    height: 800px; 
	    background: white;
	    width: 100%;
	    background: white;


	 }
	 .control li :hover{
			color:#509BF5;
		}

	 .control li {
	margin-top: 0px;
  color: black;
  display: inline-block;
  width: 350px;
  height: 40px;
  line-height: 40px;
  margin-left: 30px;
  text-align: center;
  font-size: 30px;
   vertical-align:130%;
   text-decoration: none;
     text-decoration: blink;
    


}
 .display ul :hover{
			color:#509BF5;
		}

.display ul {
   
    margin: 0px;
    padding: 0px;
   
    margin-left: 140px;
    color: black;
    font-size: 20px;
    font-family: monospace;


}

.display2 ul :hover{
			color:#509BF5;
		}
.display2 ul {
   
    margin: 0px;
    padding: 0px;
   
    margin-left: 530px;
    color: black;
    font-size: 20px;
    margin-top: -120px;

}

.display3 ul :hover{
			color:#509BF5;
		}

.display3 ul {
   
    margin: 0px;
    padding: 0px;
   
    margin-left: 950px;
    color: black;
    font-size: 20px;
    margin-top: -120px;


}
.show li :hover{
			color:#509BF5;
		}
	 .show li {
  color: black;
  display: inline-block;
  width: 300px;
  height: 20px;
  line-height: 40px;
  margin-left: 100px;
  font-size: 25px;
  vertical-align:180%;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  padding-top: 20px;


}
  
  .text6{
			  
               top: 20%; 
               margin-left: 357px;
               font-size: 65px;
               color: black; 
               margin-top: 40px;
                text-decoration: underline;

		}
		.text7{
			
			width: 450px;
            text-align: center;
            margin-left: 400px;
            margin-top: 10px;


		}
		.text8{
			
			width: 450px;
            text-align: center;
            margin-left: 400px;
            margin-top: 10px;
             color: green;

		}
		
		.button{

	background-color: #4CAF50; 
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 505px;
    border-radius: 10px
		}


	    #about {
	    width: auto;
	    height: 800px;
	    background: tomato


	}

	.text9{
			
			font-size: 65px;
			margin-left: 330px;
			color: white;
		}
    .about1{
    	font-size: 20px;
    	margin-left: 140px;
    	color: white;
    	text-decoration: underline;

    }
    .about2{
    	font-size: 20px;
    	margin-left: 730px;
    	color: white;
    	margin-top: -44px;
    	text-decoration: underline;



    }
    #about h3{
    	font-size: 35px;
    	margin-left: 140px;
    	display: inline-block;
    	width: 445px;
    	color: white;
    }
    .text10{
    	margin-left: 138px;
    	font-size: 15px;
    	color: white;
    	width: 300px;
    	margin-top: -5px;
    }
   .text11{
    	margin-left: 730px;
    	font-size: 15px;
    	color: white;
    	width: 400px;
    	margin-top: -55px;
    }
   #about a:hover{
			color: black;
		}
  .text12{
    	margin-left: 138px;
    	color: white;
    	width: 500px;
    	
    }
  
    .text13{
    	margin-left: 495px;
    	color: white;
    	width: 500px;
    	margin-top: -40px;
    	
    }
   .text14{
    	margin-left: 138px;
    	color: white;
    	width: 500px;
    	
    }
   .text15{
    	margin-left: 730px;
    	color: white;
    	width: 500px;
    	margin-top: -55px;
    }
   .text16{
    	margin-left: 138px;
    	color: white;
    	width: 500px;
    	
    }
   .text17{
    	margin-left: 495px;
    	color: white;
    	width: 500px;
    	margin-top: -35px;
    	
	   }

	 .text18{
    	margin-left: 138px;
    	color: white;
    	width: 500px;

    	
    }
    .text19{
    	margin-left: 730px;
    	color: white;
    	width: 500px;
    	margin-top: -55px;
    }
   .text20{
    	margin-left: 138px;
    	color: white;
    	width: 500px;
    	margin-top: 200px;

    	
    }
   .text21{
    	margin-left: 495px;
    	color: white;
    	width: 500px;
    	margin-top: -35px;
    	
	   }

	  #contact{
	   	width: auto;
	    height: 400px;
	    background: gainsboro;
	    margin-top: 0px;

	   }
	 .text22{
	   	margin-left: 32%;
	   	color: darkslategray;
	   	font-size: 50px;
	   	margin-top: 0px;
	   	padding-top: 50px;
	   }

	 .text23{
	   	margin-left: 32%;
	   	color: black;
	   	font-size: 17px;
	   	width: 500px;
	   }
	.button2{
	  width: 200px;
	  background-color: blue; 
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 515px;
    border-radius: 15px

    } 
	   #footer{
	    width: auto;
	    height: 500px;
	    background: black
	}
	    #footer a:hover{
			  color: green;
		}
      .img-responsive2{

		  	margin-left: 50px;
		  
		  	width: 230px;
		  	padding-top: 45px;
		  }


		  .text24{
		  	margin-left: 320px;
		  	color: white;
		  	padding-top:2px;
		  }
		   .text25{
		  	margin-left: 520px;
		  	color: white;
		  	margin-top: -35px;
		  }
		    .text26{
		  	margin-left: 720px;
		  	color: white;
		  	margin-top: -35px;
		  }
		  .menufooter{
		  	margin-left: 300px;
		  	color: white;

		  }

		  .menufooter2{
		  	margin-left: 500px;
		  	color: white;
		  	margin-top: -165px;

		  }

		  .menufooter3{
		  	margin-left: 700px;
		  	color: white;
		  	margin-top: -125px;

		  }

		  .hicon5{
		  	margin-left: 1100px;
		  	width: 170px;
		    margin-top:100px; 
		   	margin-top: 40px;
		   }
	
		